.dialog {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 174, 174);
    margin: 5px;
    width: 980px;
    height: auto;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
    -moz-box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
    box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
}

.dialogWrapper {
    display: flex;
}

.dialogTopic {
    margin: 10px;
}