
.item {
  display: flex;
  justify-self: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: baseline;
  color: black;
  width: 930px;
  position: relative;
  padding: 25px 10px;
  background-color: rgb(198, 188, 188);
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 15px;
  -webkit-box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
  -moz-box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
  box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
  }

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.item .postData {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  top: 65px;
  left: 750px;
  width: 180px;
}

.postLike, .postShare {
  padding: 0 10px;
}
