.grid, .app-wrapper {
  display: grid;
  grid-template-areas:  
  "header content content"
  "nav content content"
  "nav content content"
  "nav content content";
  grid-template-rows: 100px 360px;
  grid-template-columns: 1.6fr 10.4fr;
  grid-gap: 10px 10px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}