.nav {
    background-color: rgb(197, 52, 180);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 220px;
    height: max-content;
    margin: 5px;
    margin-top: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    -webkit-box-shadow: -5px -5px 20px -9px #fff;
    -moz-box-shadow: -5px -5px 20px -9px #fff;
    box-shadow: -5px -5px 20px -9px #fff;
  }

.item {
    color: white;
    cursor: pointer;
    padding: 7px 0 7px 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(176, 172, 141);
}


.active {
  color: rgb(255, 94, 0);
}

.settings {
  padding-top: 50px;
}